<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
    
    {{#if current_user}}
      <p>
        Hello {{current_user}}<br>
        <a href="/logout">Log out</a>
      </p>
    {{/if}}
    
  </body>
</html>
